<!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
    jQuery(document).ready(function () {
        setTimeout(function () {
            jQuery('#sydney_dates-f1bdb2a1-bf2f-40bc-a2cd-b5b7335b0625').val('Wednesday 8 Aug. 2018 12:00pm').change();
        }, 1000);
    });
    hbspt.forms.create({
        portalId: "2473383",
        formId: "f1bdb2a1-bf2f-40bc-a2cd-b5b7335b0625",
        target: ".register-form",
        onFormReady: function ($form, ctx, a) {
            jQuery('#event_location-f1bdb2a1-bf2f-40bc-a2cd-b5b7335b0625').val('Sydney').change();
        }
    });
</script>




<!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
    jQuery(document).ready(function () {
        setTimeout(function () {
 
            jQuery("#sydney_dates-f1bdb2a1-bf2f-40bc-a2cd-b5b7335b0625 option:not(nth-child(2))").remove()

        }, 1000);
    });
    hbspt.forms.create({
        portalId: "2473383",
        formId: "f1bdb2a1-bf2f-40bc-a2cd-b5b7335b0625",
        target: ".register-form",
        onFormReady: function ($form, ctx, a) {
            jQuery('#event_location-f1bdb2a1-bf2f-40bc-a2cd-b5b7335b0625').val('Sydney').change();
        }
    });
</script>